body {
    background-image: url("bimage.png");
}

#heading-h1 {
    background-image: linear-gradient(to right, rgb(174, 231, 231), rgb(19, 219, 226));
    padding-top: 1px;
    border-bottom: 7px solid grey; /* Corrected unit */
    border-radius: 15px;
    border: 3px solid grey;
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size: 24px;
}

#error {
    font-size: 17px;
}

#label {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

#val {
    font-size: 26px;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 5px 5px 2px 5px;
    background-color: rgb(249, 253, 253);
}

.input-tags {
    width: 60px;
    font-size: 26px; /* Removed duplicate */
    padding: 5px 5px 4px 5px;

}

@media (max-width: 450px) {
    .input-tags {
        width: 40px;
        height: auto;
    }
}

#btn-decompose {
    font-weight: 600;
    font-size: 24px;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    background-color:rgb(73, 228, 21);
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    margin-top: 18px;
    
}

#btn-decompose:hover {
    background-color: rgb(80, 254, 22);
    transform: scale(1.10);
}


#input-matrix-container {
    text-align: center;
}

#main-div {
    text-align: center;
}

#result-div {
    text-align: center;
}
table {
    margin: 0 auto;
}

