body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}


div {
    margin-bottom: 20px;
}


input[type="number"] {
    padding: 8px;
    margin: 5px;
    font-size: 16px;
    width: 70px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"]:focus {
    border-color: #66afe9;
    outline: none;
}


table {
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

td input {
    width: 50px;
}


h3 {
    
    color: #333;
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td {
    background-color: #fff;
    color: #333;
    width:20px;
    height:20px
}

pre {

    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.matrix-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

h4 {
    
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}


#inp-val{
    text-align: center;
}
#val{
    width: 40px;
    font-size: 18px;
}
